* {
  margin: 0;
  padding: 0;
}

:root {
  --margin-h3: 0.3rem; 
  --grid-column-h3: 1 / -1;
  --border-color: #ab1801;
}

body {
  background-color: black;
  color: #EAEBE4;
  padding: 0.2rem;
  min-height: 100vh;
  display: flex;  
  flex-direction: column;
}

a {
  color: #ff0000;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction:row;
  justify-content: center;
  font-family: "Manufacturing Consent";
}
.imgs {
  width: 2.5rem;
  height: 2.5rem;
}
.top-h1, .imgs{
  filter: drop-shadow(0.1rem 0.1rem 0 #ff2200) brightness(120%);
}

.quote {
  display: flex;
  justify-content: center; 
  font-family: "Manufacturing Consent";
}

.description {
  display: grid;
  border-radius: 0.6rem;
  padding: 0.4rem 1rem 0.4rem 0.4rem;
  margin: 0.6rem;
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-radius: 1rem;  
}
.description h2, .top {
  font-size: 1.3rem;
}

.top {
  place-self: center;
  text-align: center; 
  filter: drop-shadow(0 0 4px #ff2200) brightness(120%);
  margin: var(--margin-h3);
  grid-column: var(--grid-column-h3);
}

.top-music {
  display: grid;
  place-items: center;
  margin: 0.8rem;
}
.top-h3 {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.albums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  
} 
.albums-divs {
  display: grid;
  text-align: center;
  place-items: center;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.4rem;
  padding: 0.3rem;
  min-height: 7rem;
  transition: filter 0.3s ease-out, border 0.3s ease-out, 0.3s color;
}
@keyframes albums {
  0%{transform: scale(1);}
  50%{transform: scale(0.95);}
  100%{transform: scale(1);}
}

.albums-divs:active {
  animation: albums 0.3s ease-in-out;
  border: 2px solid #620000;
}

.members {
  display: grid;
  margin-bottom: 2rem;
}
.current, .former {
  display: grid;
  gap: 0.7rem;
  grid-template-columns: repeat(2, 1fr);
  color: #f3d3d3;
  text-align: center;
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-radius: 1rem;
  padding: 1rem;  
  margin: 1rem;
}
.members h3 {
  margin-top: 2rem;
}
.members > h3:nth-child(1) {
  border-top: 2px solid var(--border-color);
  border-radius: 1rem;
  padding: 1.5rem;
}
.current-divs, .former-divs {
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-radius: 1.5rem;
  background: linear-gradient(
  to right,
  #ff2200,    
  transparent 5%,
  transparent 95%,
  #ff2200
);
  padding: 0.6rem;
  font-size: clamp(0.9rem, 1.5vw, 2rem);
}
.nero::before {
  content: "⛦" !important;
}
.current-divs h4::before {
  content: "☣︎";
  margin-right: 0.2rem;
  font-size: 1.5rem;
  filter: drop-shadow(0 0 0.2rem #c10000);
}
.former-divs h4::before {
  content: "☠";
  margin-right: 0.2rem;
  font-size: 1.5rem;
  filter: drop-shadow(0 0 0.2rem #c10000) brightness(90%);
}

.concerts {
  display: grid;
  text-align: center;
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-radius: 1rem;
  padding: 1rem;  
  margin: 1rem;
  gap: 1rem;

}
.concerts-divs {
  display: grid;
  grid-template-columns: auto 1fr auto; 
  align-items: center;
  padding: 0.6rem 1rem;
  gap: 1rem;
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-radius: 0.3rem;
  background: linear-gradient(
  to right,
  #ff2200,    
  transparent 1.5%,
  transparent 98.5%,
  #ff2200
);
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

@media (min-width: 768px) {
  body {
    font-size: clamp(21px, 2vw, 30px);
  }
  .top, .description h2 {
    font-size: 1.8rem;
  }
  .albums {
    margin: 0 0.5rem 0 0.5rem;
    gap: 0.7rem;
  }
  .current-divs, .former-divs {
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-radius: 1.6rem;
    background: linear-gradient(
      to right,
    #ff2200,    
      transparent 2%,
      transparent 98%,
    #ff2200
    );
    padding: 0.6rem;
    font-size: clamp(20px, 2vw, 30px);
  }
  .concerts-divs {
    background: linear-gradient(
      to right,
    #ff2200,    
      transparent 1%,
      transparent 99%,
    #ff2200
    );
  }
  .current-divs h4::before, .former-divs h4::before {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .current-divs, .former-divs {
    border-radius: 2.1rem;
  }
}

@media (min-width: 1440px) {
  body {
    max-width: 1000px;
    margin: 0 auto;
  }
  .albums-divs:hover {
    color: #d6a1cc;
  }
}